#transpositionButtons {
	font-size: 15px;
}

#songControlButtons {
	white-space: nowrap;
}

#songMaximizationArea {
	min-height: 60vh;
}

#songMaximizationArea:fullscreen {
	overflow-x: auto;
	scrollbar-width: thin;
	background-color: #000;
	position: relative;
	user-select: none;
}

#songMaximizationArea:fullscreen #songText-processed {
	background-color: #000;
	font-weight: bold;
	padding: 2px 0px 130px 2px;
}

#songMaximizationArea:fullscreen #closeFullscreen {
	display: block;
}

#closeFullscreen {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	zoom: .8;
	font-size: 25px;
}

#songText-processed {
	width: fit-content;
	color: #cbf0ff;
	font-family: 'Martian Mono', "Roboto Mono", monospace;
}

.chord {
	color: #d6f0ff;
	font-weight: bold;
}

.categories{
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}

#otherSongsLinks {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;
	margin-bottom: 0px;
	font-family: 'Martian Mono', "Roboto Mono", monospace;
}

.related-links {
	margin: 0;
}

.dateRelatedInfo {
	font-size: 11px;
	text-align: right;

	p {
		margin: 0;
	}
}

hr {
	margin-top: 0;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
	pre {
		padding: 0px;
	}
}

@media screen and (600px < width < 650px) and (orientation: portrait) {
	pre {
		padding: 8px 5px;
	}
}