#filteredSongsListContainer {
	list-style-type: none;
	padding: 0px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 30px;
	flex-wrap: wrap;

}

#filteredSongsListContainer li {
	padding: 0px;
	margin-top: 10px;
}

.category-chip {
	border-radius: 20px;
	padding-left: 8px;
	padding-right: 8px;
	cursor: pointer;
}

.btn-db-actions {
	margin-top: 100px;
}

@media screen and (max-width: 600px) and (orientation: portrait) {

	form,
	fieldset {
		margin: 0;
		padding: 0;
	}
}

@media screen and (600px < width < 650px) and (orientation: portrait) {

	form {
		padding: 5px;
	}

	fieldset {
		margin: 0;
	}
}