/* You can add global styles to this file, and also import other style files */
$developmentMode: true;

html {
	user-select: none;
}

*::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	width: 0px;
	background-color: transparent;
	color: transparent;
}

input {
	user-select: text;
}

footer {
	margin-top: 100px;
	margin-bottom: 25px;
}

/* *************************************************************** */
/* *************************************************************** */
/* *************************************************************** */
/* *************************************************************** */

/* Match 601 */
@media screen and (600px < width < 700px) and (orientation: portrait) {
	body {
		@if($developmentMode) {
			background-color: rgb(231, 157, 31);
		}

		font-size: 15px;
	}

	h1 {
		font-size: 29px;
	}
}


/* *************************************************************** */
/* *************************************************************** */
/* *************************************************************** */
/* *************************************************************** */

@media screen and (max-width:800px) and (orientation: landscape) {
	body {
		@if($developmentMode) {
			background-color: rgb(52, 8, 8);
		}

		font-size: 12px;
	}

	h1 {
		font-size: 13px;
	}
}

/* Match 857 */
@media screen and (800px < width < 900px) and (orientation: landscape) {
	body {
		@if($developmentMode) {
			background-color: rgb(10, 64, 10);
		}

		font-size: 14px;
	}

	h1 {
		font-size: 16px;
	}
}

/* Match 962 */
@media screen and (900px < width < 1000px) and (orientation: landscape) {
	body {
		@if($developmentMode) {
			background-color: rgb(9, 22, 62);
		}

		font-size: 13px;
	}

	h1 {
		font-size: 15px;
	}
}

@media screen and (1000px < width < 1200px) and (orientation: landscape) {
	body {
		@if($developmentMode) {
			background-color: rgb(41, 41, 41);
		}

		font-size: 15px;
	}

	h1 {
		font-size: 17px;
	}
}

/* Match 1280 */
@media screen and (1200px < width < 1300px) and (orientation: landscape) {
	body {
		@if($developmentMode) {
			background-color: rgb(57, 8, 57);
		}

		font-size: 13px;
	}

	h1 {
		font-size: 15px;
	}
}

/* Match 1366 */
@media screen and (1300px < width < 1400px) and (orientation: landscape) {
	body {
		@if($developmentMode) {
			background-color: rgb(57, 57, 8);
		}

		font-size: 14px;
	}

	h1 {
		font-size: 18px;
	}
}

@media screen and (min-width:1400px) and (orientation: landscape) {
	body {
		@if($developmentMode) {
			background-color: rgb(23, 61, 50);
		}

		font-size: 12px;
	}

	h1 {
		font-size: 14px;
	}
}