/* You can add global styles to this file, and also import other style files */
$developmentMode: 0;

html {
	user-select: none;
}

*::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	width: 0px;
	background-color: transparent;
	color: transparent;
}

input {
	user-select: text;
}

footer {
	margin-top: 100px;
	margin-bottom: 25px;
}

/* *************************************************************** */
/* *************************************************************** */
/* *************************************************************** */
/* *************************************************************** */

@media screen and (max-width:300px) and (orientation: portrait) {
	body {
		@if($developmentMode==1) {
			background-color: rgb(52, 8, 8);
		}

		margin: 0;
		padding: 2px;
		font-size: 11px;
	}

	h1 {
		font-size: 12px;
	}

	pre {
		font-size: 11;
	}
}

/* Match 384 */
@media screen and (300px <=width < 500px) and (orientation: portrait) {
	body {
		@if($developmentMode==1) {
			background-color: rgb(35, 64, 55);
		}

		margin: 0;
		padding: 5px;
		font-size: 15px;
	}

	h1 {
		font-size: 16px;
	}

	pre {
		font-size: 13px;
	}
}

/* Match 601 */
@media screen and (500px <=width < 700px) and (orientation: portrait) {
	body {
		@if($developmentMode==1) {
			background-color: rgb(3, 64, 3);
		}

		font-size: 15px;
		margin: 0;
		padding: 7px;
	}

	h1 {
		font-size: 16px;
	}

	pre {
		font-size: 15px;
	}
}

/* Match 768 and 1024 */
@media screen and (700px <=width < 900px) and (orientation: portrait) {
	body {
		@if($developmentMode==1) {
			background-color: rgb(97, 104, 124);
		}

		margin: 0 auto;
		padding: 0px 20px;
		font-size: 16px;
	}

	h1 {
		font-size: 16px;
	}

	pre {
		font-size: 18px;
	}
}

/* Match 768 and 1024 */
@media screen and (900px <=width < 1200px) and (orientation: portrait) {
	body {
		@if($developmentMode==1) {
			background-color: rgb(9, 22, 62);
		}

		margin: 0 auto;
		padding: 0px 20px;
		font-size: 15px;
	}

	h1 {
		font-size: 15px;
	}

	pre {
		font-size: 18px;
	}
}

@media screen and (min-width:1200px) and (orientation: portrait) {
	body {
		@if($developmentMode==1) {
			background-color: rgb(49, 49, 49);
		}

		font-size: 18px;
		margin: 0 auto;
		padding: 0px 30px;
	}

	h1 {
		font-size: 18px;
	}

	pre {
		font-size: 20px;
	}
}


/* *************************************************************** */
/* *************************************************************** */
/* *************************************************************** */
/* *************************************************************** */

@media screen and (max-width:800px) and (orientation: landscape) {
	body {
		@if($developmentMode==1) {
			background-color: rgb(52, 8, 8);
		}

		font-size: 14px;
		margin: 0;
		padding: 0px 5px;
	}

	h1 {
		font-size: 14px;
	}

	pre {
		font-size: 16px;
	}
}

/* Match 857 */
@media screen and (800px <=width < 900px) and (orientation: landscape) {
	body {
		@if($developmentMode==1) {
			background-color: rgb(10, 64, 10);
		}

		font-size: 15px;
		margin: 0;
		padding: 5px;
	}

	h1 {
		font-size: 15px;
	}

	pre {
		font-size: 16px;
	}
}

/* Match 962 */
@media screen and (900px <=width < 1300px) and (orientation: landscape) {
	body {
		@if($developmentMode==1) {
			background-color: rgb(9, 22, 62);
		}

		font-size: 14px;
		padding: 10px;
	}

	h1 {
		font-size: 15px;
	}

	pre {
		font-size: 16px;
	}
}

/* Match 1366 */
@media screen and (1300px <=width < 1400px) and (orientation: landscape) {
	body {
		@if($developmentMode==1) {
			background-color: rgb(57, 57, 8);
		}

		font-size: 15px;
	}

	h1 {
		font-size: 15px;
	}

	pre {
		font-size: 18px;
	}
}

@media screen and (1400px <=width < 1600px) and (orientation: landscape) {
	body {
		@if($developmentMode==1) {
			background-color: rgb(48, 84, 85);
		}

		font-size: 14px;
	}

	h1 {
		font-size: 15px;
	}

	pre {
		font-size: 17px;
	}
}

@media screen and (min-width:1600px) and (orientation: landscape) {
	body {
		@if($developmentMode==1) {
			background-color: rgb(48, 84, 85);
		}

		font-size: 14px;
	}

	h1 {
		font-size: 14px;
	}

	pre {
		font-size: 15px;
	}
}